{% extends 'base.html' %}

{% block head %} <title>Spotipy</title> {% endblock %} 

{% block body %}
<div>
    <div>
        <link href="../static/css/desktop1.css" rel="stylesheet" />
  
        <div class="desktop1-container">
          <div class="desktop1-desktop1">
            <div class="desktop1-vector">
              <img
                src="../static/img/vector2100-cs7l-1600w.png"
                alt="Vector2100"
                class="desktop1-vector1"
              />
            </div>
            <div style="margin-top: 10%; margin-bottom: 10%" class="ui text container">
                <div class=imagebox>
                <div class="ui two column centered grid">
                    <a href={{dance}}>
                    <img class="ui centered circular image" src=
                    "../static/img/Frame 1.png">
                    </a>
                    <a href={{moody}}>
                    <img class="ui centered circular image" src=
                    "../static/img/Frame 2.png">
                    </a>
        
                </div>
                <div class="ui hidden section divider"></div>
                <div class="ui two column centered grid">
                    <a href={{happy}}>
                    <img class="ui centered circular image" src=
                    "../static/img/Frame 4.png">
                    </a>
                    <a href={{sad}}>
                    <img class="ui centered circular image" src=
                    "../static/img/Frame 3.png">
                    </a>
                </div>
                </div>
            </div>
            
            
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
    
    
{% endblock %}